body{
    background-color: #fff8e2;
}

.head{
    color: rgb(241, 237, 221);
    text-align: center;
}



.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-family: sans-serif;
    padding: 20px;
}

.header{
    background-color: rgb(36, 36, 36);
}

.bodyimg{
    position: relative;
}

.bodyimg p{
    background-image: url(backgroundImage.png);
    height: 500px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Times New Roman';
    font-size: 18px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px;
    padding: 10px;
}

.grid img{
    border: 2px  solid black;
    border-radius: 50px;
    
}

.origami{
    border-radius: 20px;
    background-color: white;
   
    width: 310px;
    font-family: fantasy;
    padding: 30px;
    margin: 10px;
    


}

.text{
    padding:60px;
}

a:link{
    color: white;
    }
    
a:visited{
     color: white;
  }


.origami{
    position: relative;
}

.origami:hover{
    transform: scale(1.2);
}

.origami p {
    opacity: 0;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(-50%,-50%);

}

.origami:hover p{
    opacity: 1;
    color: teal;
}

.origami:hover img{
    opacity: 0.33;
}